/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 14px Helvetica-Neue, Helvetica, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #3bbced; text-decoration: none;
}
a:hover {color: #fff; background: #3bbced;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #BBECFF; color: #666; text-shadow: none;}
::selection {background: #BBECFF; color: #666; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* LAYOUT
-------------------------------------------------------------------------------*/

body {
  background: #f5f5f5 url('../img/grid.png') left top;
  font-family: 'Lato', 'Trebuchet MS', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

header#header {
  height: 61px;
  width: 100%;
  background: #4ebfef ;
  color: #000;
  margin-bottom: 20px;
  font-weight: bold;
  
}

header div#header-wrapper {
  width: 820px;
  margin: 0 auto;
}

header h1#site-title {
  text-indent: -9000px;
  float: left;
  width: 246px;
  height: 72px;
  background: #fff url('../img/logo.png') no-repeat left top;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
	background-color: rgb(68,68,68); /* Needed for IEs */

	-moz-box-shadow: -3px 3px 3px rgba(68,68,68,0.3);
	-webkit-box-shadow: -3px 3px 3px rgba(68,68,68,0.3);
	box-shadow: -3px 3px 3px rgba(68,68,68,0.3);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}

header section#loginout {
  margin: 0 0 0 10px;
  padding: 32px 0 0 0;
  width: 200px;
  float:  left;
}

header section#loginout a {
  font-weight: normal;
  text-decoration: underline;
  color: #000;
}

header section#superdate {
  float: right;
  margin: 10px 0 0 0;
}
header section#superdate p {
  text-align: right;
  margin-bottom: 2px;
  text-transform: uppercase;
}

header section#superdate p.time {
  line-height: 20px;
  background: url("../img/clock.png") no-repeat top center;
}

div#main {
  width: 820px;
  margin: 0 auto 100px auto;
}

h1.section-title {
  margin: 10px 0 10px 0;
  color: white;
  background-color: #fbbd37;
  padding: 10px;
  font-size: 16px;
  font-style: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section#launchmap a {
  margin: 0px 0 20px;
  padding: 15px 35px 16px 65px;
  float: right;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  border: solid #c62e3c 2px;
  background: url("../img/map_marker.png") no-repeat 35px center, -webkit-gradient(linear, 0 0, 0 100%, from(#cd1b2c), to(#cd4250));
  background: url("../img/map_marker.png") no-repeat 35px center, -moz-linear-gradient(top, #cd1b2c, #cd4250);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#cd1b2c, endColorStr=#cd4250);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#cd1b2c, endColorStr=#cd4250);
  display:inline-block; /* IE is so silly */
}

section#launchmap a:hover {
	background: url("../img/map_marker.png") no-repeat 35px center, -webkit-gradient(linear, 0 0, 0 100%, from(#cd4250), to(#cd1b2c));
	background: url("../img/map_marker.png") no-repeat 35px center, -moz-linear-gradient(top, #cd4250, #cd1b2c);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#cd4250, endColorStr=#cd1b2c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#cd4250, endColorStr=#cd1b2c);
	display:inline-block; /* IE is so silly */
}

/** Section Backgrounds **/
section#conditions h1.section-title {
  background: url("../img/cloud.png") no-repeat 98% bottom #fbbd37;
  
}
section#news h1.section-title {
    background: url("../img/newspaper.png") no-repeat 95% bottom #fbbd37;
}

section#twitter h1.section-title {
    background: url("../img/twitter_bird.png") no-repeat 95% bottom #fbbd37;
}

section#nineoneone h1.section-title {
    background: url("../img/phone.png") no-repeat 98% bottom #fbbd37;
}

div#main section {
  margin-bottom: 20px;
}

section#conditions {
  clear: both;
}

section#news,
section#twitter {
  width: 400px;
  float: left;
}

section#news {
  padding: 0 10px 0 0;
}

section#twitter {
  padding: 0 0 0 10px;
}

section#nineoneone {
  clear: both;
}

section div.section-wrapper {
  margin: 23px 10px 10px 10px;
}

div.section-wrapper h2 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 30px 0px 10px 0px; 
}

div.section-wrapper h2:first-child {
  margin: 23px 0px 10px 0px; 
}

article {
  margin: 0 0 13px;
}

article p,
section#twitter article p.meta {
	border-bottom: solid 1px #ADAEAF;
	padding-bottom: 15px;
}

article header {
  margin: 5px 0;
}

article header h1,
article header p {
	border: none;
  display: inline;
}

article header p {
  font-style: italic;
  color: #adaeaf;
}

section#twitter article a.author {
  font-weight: bold;
}

section#twitter article p {
  border: none;
  padding-bottom: 0px;
}

section#twitter article p.meta {
  font-style: italic;
}

#twitter-search-keyword,
#twitter-search-date {
	height: 25px;
	margin: 5px 0px 10px 0px;
}

label {
	margin-bottom: 7px;
}

input#twitter-search-date {
	width: 108px;
}

input.search-button {
	margin-top: 5px;
  padding: 3px 15px;
  color: #fff;
  font-size: 15px;
  font-style: 700;
  line-height: 23px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  border: solid #27a8d6 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#27a8d6), to(#50c6f1));
  background: -moz-linear-gradient(top, #27a8d6, #50c6f1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#27a8d6, endColorStr=#50c6f1);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#27a8d6, endColorStr=#50c6f1);
  display:inline-block; /* IE is so silly */
}

input.search-button:hover {
  border: solid #27a8d6 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#50c6f1), to(#27a8d6));
  background: -moz-linear-gradient(top, #50c6f1, #27a8d6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#50c6f1, endColorStr=#27a8d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#50c6f1, endColorStr=#27a8d6);
  display:inline-block; /* IE is so silly */
}

section#nineoneone table {
  width: 100%;
}

section#nineoneone table td,
section#nineoneone table th {
  text-align: left;
  padding-bottom: 10px;
}